<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <title>To Do List</title>
        <link rel="stylesheet" href="css/styles.css">



    </head>

<body>
<%- include("header") -%>

<!-- <h1>  About Page</h1> -->

<p>helo hello hello wh at's up guys ? this is the about page that you want to see.</p>



</body>



<footer>
    <%- include("footer") -%>
</footer>

</html>